<div id="Principal" >
    <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete%>
    <div id="card"class="animate__animated animate__backInDown animate__delay-1s">
        <div id="Bienvenida">
            <p class="margin-top margin-bottom ">Bienvenidos a la boda de Jacqueline & Luis</p>
            <div class="contenedor-imagen img  "></div>
            <p class="pulsa">Pulsa para unirte a la Santa Eucaristía</p>
            <a href="x" class="boton-zoom letra-molde"><b>Zoom</b></a>
        </div>

        <div id="comentario-regalo">
            <div id="comentario">
                 <%= link_to 'Comentarios para el recuerdo', comments_path, class: 'letra-blanca tamano-20' %>
                <%= link_to gift_path do %>
                    <i class="fas fa-comments tamano-65 letra-blanca margin-bottom margin-top"></i>
                <% end %>
            </div>
            <div class="linea"></div>
            <div id="regalo">
                <%= link_to 'Obsequios', gift_path, class: 'letra-blanca tamano-20' %>
                <%= link_to gift_path do %>
                    <i class="fas fa-gift tamano-65 letra-blanca"></i>
                <% end %>
            </div>

        </div>
    </div>
</div>
<div id="JyF">
    <p class="letra-molde tamano-chiquito ">Desarrollado por Fátima Ramazzini</p>
</div>